.login-container {
  background: linear-gradient(to bottom, #1a253c 50%, #edf6ff 0%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0px;
}
.MuiInputBase-input {
  height: 0.1876em !important;
}
.checkout-input-wrapper {
  display: flex;
  text-align: left;
  margin-top: 20px;
  justify-content: space-between;
}
.login-card {
  box-shadow: 0px 3px 13px 0px grey;
  border-radius: 20px;
  padding: 30px 30px;
  background-color: #fff;
  width: 25%;
}
Button {
  align-self: center;
  margin: 15px;
}
h5 {
  margin: 10px;
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 695px) {
  .checkout-input-wrapper {
    flex-direction: column;
    width: 100% !important;
  }
}
