.bg {
  background: #1a253c;
  /* height: 100vh;  */
}

.masthead-container {
  display: flex;
}

.masthead-data {
  &-right {
    flex: 1;
  }
  &-left {
    flex: 1;
    box-sizing: border-box;
  }
}
.text-container {
  padding: 100px;

  h1 {
    font-size: 44px;
    color: #fff;
    font-weight: 900;
    margin: 0;
  }

  .masthead-desc {
    margin-top: 30px;
    width: 75%;
    line-height: 1.5;
  }
}
.masthead-image {
  max-width: 100%;
  height: auto;
  // position: relative;
}

.section-wrapper {
  padding: 30px 100px;
  background-color: #edf6ff;
}

.whyUs-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.whyUs-box {
  padding: 30px 60px 30px 20px;
  flex: 0 0 20%;
  margin: 20px;
  background-color: #fff;
}
.whyUs-heading {
  width: 100%;
  h1 {
    color: #43afff;
    text-transform: capitalize;
  }
}
.whyUs-desc {
  color: #303f60;
  text-align: left;
}

.partner-container {
  justify-content: space-around;
  align-items: center;
  div {
    margin: 20px 60px 20px 60px;
  }
  .img-fluid {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 1080px) {
  .section-wrapper {
    padding: 30px 75px;
    background-color: #f7f7f7;
  }
  .whyUs-box {
    padding: 30px 30px 20px 20px;
  }
  .whyUs-heading {
    width: 100%;
  }
}
@media only screen and (max-width: 820px) {
  .masthead-data-left {
    .text-container {
      padding: 55px;

      h1 {
        font-size: 40px;
      }
    }
  }
  .whyUs-box {
    flex: 1 0 30%;
  }
}

@media only screen and (max-width: 880px) {
  .masthead-data-left {
    .text-container {
      padding: 40px;

      h1 {
        font-size: 38px;
      }

      .masthead-desc {
        width: 90%;
      }
    }
  }
  .whyUs-box {
    // flex: 0 0 30%;
  }
}

@media only screen and (max-width: 768px) {
  .whyUs-box {
    padding: 30px 40px 20px 32px;
    // flex: 0 0 30%;
    margin: 20px;
  }
  .masthead-data-left {
    .text-container {
      padding: 30px;

      h1 {
        font-size: 34px;
      }

      .masthead-desc {
        width: 90%;
        // font-size: 14px;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .masthead-data-left {
    .text-container {
      padding: 25px;

      h1 {
        font-size: 30px;
      }

      .masthead-desc {
        width: 90%;
        // font-size: 14px;
      }
    }
  }
  .whyUs-container {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 580px) and (min-width: 480px) {
  .masthead-data-right {
    display: none;
  }
  .masthead-data-left {
    .text-container {
      .masthead-desc {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .masthead-container {
    flex-direction: column;
  }
  .masthead-image {
    // display: none;
  }
  .section-wrapper {
    padding: 30px 50px;
  }
}
@media only screen and (max-width: 400px) {
  .section-wrapper {
    padding: 30px 30px;
  }
}
